<div class="about">
    <div class="about-title">
        <h1>About</h1>
        <br/>
    </div>
    <div class="about-body">
        <div class="about-spacer"></div>
        <div class="about-text">
            <h4>
                This website was created to showcase the work done and skills developed as part of the Talent Path training program.
                This application allows you to select from a marketplace of stocks and foreign currency exchange (forex) and watch their value update in real time.
            </h4>

            <h4>
                This website was built in Angular with some use of Angular Materials. It's supported by an ecosystem of back-end microserves built in Node.js utilizing the Express server structure. Data is stored in a mix of Postgres SQL and DynamoDB.
            </h4>

            <h4>
                Design and implementation of the front end was done by <a href="https://cjmccluresoftware.web.app/#/">Chris McClure</a>. Chris is also reponsible for the Portfolio Management and Forex microservice servers on the back end. Other services, such as the Stocks Marketplace and the User Authentication service were designed by others as part of a <a href="https://condor-financial.web.app/">larger Condor Financial project</a>. The Condor Fiancial logo is from a design <a href="https://lorcblog.blogspot.com/">Lorc</a> via <a href="https://game-icons.net/">Game-icons.net</a>.
            </h4>
        </div>
        <div class="about-spacer"></div>
    </div>
</div>