.about {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    .about-title {
        text-align: center;
    }
    .about-body {
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-content:center;

        .about-spacer {
            flex: 1
        }
        .about-text {
            flex: 2
        }
    }
}