<div class="portfolio">
    <h1>My Portfolio</h1>
    <p>Welcome to your portfolio! Prices are displayed in USD</p>

    <div *ngIf="loading; then loadingBlock else portfolioBlock"></div>

    <ng-template #loadingBlock>
        <p class=loader>
            <mat-spinner></mat-spinner>
        </p>
    </ng-template>

    <ng-template #portfolioBlock>

        <div *ngIf="(!(stocks.length || currencies.length)); then emptyBlock"></div>

        <ng-template #emptyBlock>
            <p>Your portfolio is empty! Try purchasing some assets at our &nbsp; <a routerLink="/stocks">Stocks</a> &nbsp; or  &nbsp; <a routerLink="/forex"> Forex</a> &nbsp; marketplaces.</p>
        </ng-template>
        
        <p>{{stockMessage}}</p>
        <h1 *ngIf="stocks.length > 0">Stocks</h1>
        <table mat-table [dataSource]="stocks" class="mat-elevation-z8" *ngIf="stocks.length > 0">
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let stock"> {{stock.symbol}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let stock"> {{stock.name}} </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let stock"> {{stock.quantity}} </td>
            </ng-container>

            <!-- Purchase Price Column -->
            <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef> Cost Basis </th>
                <td mat-cell *matCellDef="let stock"> {{stock.purchasePrice | currency}} </td>
            </ng-container>

            <!-- Last Price Column -->
            <ng-container matColumnDef="lastPrice">
                <th mat-header-cell *matHeaderCellDef> Last Price </th>
                <td mat-cell *matCellDef="let stock"> {{stock.currentPrice | currency}} </td>
            </ng-container>

            <!-- Purchase Value Column -->
            <ng-container matColumnDef="purchaseValue">
                <th mat-header-cell *matHeaderCellDef> Value at Purcahse </th>
                <td mat-cell *matCellDef="let stock"> {{stock.purchasePrice * stock.quantity | currency}} </td>
            </ng-container>

            <!-- Current Value Column -->
            <ng-container matColumnDef="currentValue">
                <th mat-header-cell *matHeaderCellDef> Current Value </th>
                <td mat-cell *matCellDef="let stock"> {{stock.currentPrice * stock.quantity | currency}} </td>
            </ng-container>

            <!-- Sell Column -->
            <ng-container matColumnDef="sell">
                <th mat-header-cell *matHeaderCellDef> Sell </th>
                <td mat-cell *matCellDef="let stock; let i=index"> 
                    <div *ngIf="canSell; then buyBlock else lockedBlock"></div>

                    <ng-template #buyBlock>
                        <button mat-raised-button (click)="sellStock(i)">Sell</button> 
                    </ng-template>

                    <ng-template #lockedBlock>
                        <button mat-raised-button disabled>Sell</button> 
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="stockColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: stockColumns;"></tr>

        </table>

        <p>{{currencyMessage}}</p>
        <h1 *ngIf="currencies.length > 0">Currencies</h1>
        <table mat-table [dataSource]="currencies" class="mat-elevation-z8" *ngIf="currencies.length > 0">
            
            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Code </th>
                <td mat-cell *matCellDef="let currency"> {{currency.code}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let currency"> {{currency.name}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let currency"> {{currency.symbol}} </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let currency"> {{currency.quantity}} </td>
            </ng-container>

            <!-- Purchase Price Column -->
            <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef> Cost Basis </th>
                <td mat-cell *matCellDef="let currency"> ${{currency.purchasePrice}} </td>
            </ng-container>

            <!-- Last Price Column -->
            <ng-container matColumnDef="lastPrice">
                <th mat-header-cell *matHeaderCellDef> Last Price </th>
                <td mat-cell *matCellDef="let currency"> ${{currency.currentPrice}} </td>
            </ng-container>

            <!-- Purchase Value Column -->
            <ng-container matColumnDef="purchaseValue">
                <th mat-header-cell *matHeaderCellDef> Value at Purchase </th>
                <td mat-cell *matCellDef="let currency"> {{currency.purchasePrice * currency.quantity | currency}} </td>
            </ng-container>

            <!-- Current Value Column -->
            <ng-container matColumnDef="currentValue">
                <th mat-header-cell *matHeaderCellDef> Current Value </th>
                <td mat-cell *matCellDef="let currency"> {{currency.currentPrice * currency.quantity | currency}} </td>
            </ng-container>

            <!-- Sell Column -->
            <ng-container matColumnDef="sell">
                <th mat-header-cell *matHeaderCellDef> Sell </th>
                <td mat-cell *matCellDef="let currency; let i=index"> 
                    <div *ngIf="canSell; then buyBlock else lockedBlock"></div>

                    <ng-template #buyBlock>
                        <button mat-raised-button (click)="sellCurrency(i)">Sell</button> 
                    </ng-template>

                    <ng-template #lockedBlock>
                        <button mat-raised-button disabled>Sell</button> 
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="currencyColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: currencyColumns;"></tr>

        </table>
    </ng-template>
</div>
