<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

<div class="header">
  <div class="logo">
    <img src="../assets/winged-leg.png" alt="Condor Logo">
    <div>Condor</div>
  </div>
  <div class="user">
    <div> About </div> | <div (click)="toggleModal()"> Login </div>
  </div>
</div>
<div class="navbar">
  <div class="nav-button">
    Accounts
  </div>
  <div class="nav-button">
    Investments
  </div>
  <div class="nav-button">
    Stocks
  </div>
  <div class="nav-button">
    Currency
  </div>
</div>
<div class="swoop">
  <img src="../assets/swoop4.png" alt="Swoop">
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="logo">
    <img src="../assets/winged-leg.png" alt="Condor Logo">
    <div>Condor Financial</div>
  </div>
  <div class="footer-notes">
    <div>Website for demonstration purposes only</div>
    <div>Design by Chris McClure <a href="https://github.com/cjmcclure1337">(Github)</a> <a href="https://www.linkedin.com/in/christopher-mcclure-79675473/">(LinkedIn)</a></div>
    <div>Logo by <a href="https://lorcblog.blogspot.com/">Lorc</a></div>
  </div>
</div>

<div class="login-shader" *ngIf="loginModal">
  <div class="login-modal">
    <div class="login-title">
      Login
    </div>
    <form class="login-form">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" name="password">
      </mat-form-field>
    </form>
    <button mat-button (click)="login()">Submit</button>
    <button mat-button (click)="toggleModal()">Close</button>
    <div class="sign-up">
      No account? <a href="">Sign up for free!</a>
    </div>
  </div>
</div>